@charset "utf-8";
/* CSS Document */
html {
	color: #333;
	font: 12px Tahoma, Geneva, Arial, sans-serif;
	margin: 0;
	background:#fff;
}
body, ul, li, ol, dt, dd, dl, p, h1, h2, h3, h4, h5, h6, h7, input, select,from{
	margin: 0;
	padding: 0;
}
body {
    margin: 0 auto;
}
body {
	scrollbar-face-color:#f7f7f7;
	scrollbar-highlight-color:#ccc;
	scrollbar-3dlight-color:#fff;
	scrollbar-shadow-color:#ccc;
	scrollbar-darkshadow-color:#fff;
	scrollbar-track-color:#fafafa;
	scrollbar-arrow-color:#b3b3b3;
}
img {
	border: 0 none;
	vertical-align:top;
}
ul, ol {
	list-style: none outside none;
	padding: 0;
	margin: 0;
}
input {
	vertical-align: middle;
	height: 24px;
	line-height: 24px;
}
textarea {
	border: 1px solid #ddd;
	font: 12px Tahoma, Geneva, Arial, sans-serif;
	background-color: #fff;
	padding: 5px;
}
label {
	font-family: Tahoma;
	vertical-align: middle;
}

input[type="text"]{
	border: 1px solid #ddd;
	vertical-align:middle;
	-moz-border-radius: 2px 2px 2px 2px;
	background-color: #fff;
	font-size:12px;
}

table {border-collapse:collapse;	border-spacing:0;}
input[type="radio"],input[type="checkbox"]{border:none;vertical-align:middle;}
/********  head content  footer  ******/

#wrapper{ margin: 0 auto;overflow:hidden;}

#head{width:960px;margin: 0 auto;overflow:hidden;}

#content{width:960px;margin: 0 auto;overflow:hidden;}

#footer{width:960px; margin: 0 auto;overflow:hidden;}

/*  黑白字体  */
.color333{color:#333;	} /*  深灰色  */
.color666{color:#666;	} /*  中等深灰色  */
.color999{color:#999;	} /*  50%灰色  */
.colorccc{color:#ccc;	} /*  #ccc灰色  */
.coloreee{color:#eee;	} /*  #eee灰色  */

.fontbold{font-weight:bold;} /*  粗体  */

.font_s12 {font-size:12px;} 
.font_s14 {font-size:14px;} 
.font_s16 {font-size:16px;}
.font_s18 {font-size:18px;}
.font_s20 {font-size:20px;}

.lh160{line-height:160%;}
.lh180{line-height:180%;}
.lh210{line-height:210%;}
.lh270{line-height:270%;}

/*  多于文字 显示为......  */
.ellipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	-moz-binding: url('ellipsis.xml#ellipsis');
	display: block;
	}
.wordbreak {
	word-wrap: break-word;
	overflow: hidden;
}
/*  全局 margin 属性   */
.m0{margin:0}
.m5{margin:5px;}
.p5{padding:5px;}
.m10{margin:10px;}
.p10{padding:10px;}

.ml5  {margin-left:5px;}
.ml10{margin-left:10px;}
.ml15{margin-left:15px;}
.ml20{margin-left:20px;}
.ml30{margin-left:30px;}

.mr5  {margin-right:5px;}
.mr10{margin-right:10px;}
.mr15{margin-right:15px;}
.mr20{margin-right:20px;}
.mr30{margin-right:30px;}

.mt5  {margin-top:5px;}
.mt10{margin-top:10px;}
.mt15{margin-top:15px;}
.mt20{margin-top:20px;}
.mt30{margin-top:30px;}

.mb5  {margin-bottom:5px;}
.mb10{margin-bottom:10px;}
.mb15{margin-bottom:15px;}
.mb20{margin-bottom:20px;}
.mb30{margin-bottom:30px;}

/*  全局 padding  属性   */

.pl5 {padding-left:5px;}
.pl10{padding-left:10px;}
.pl15{padding-left:15px;}
.pl20{padding-left:20px;}
.pl30{padding-left:30px;}

.pt5 {padding-top:5px;}
.pt10{padding-top:10px;}
.pt15{padding-top:15px;}
.pt20{padding-top:20px;}
.pt30{padding-top:30px;}

.pb5 {padding-bottom:5px;}
.pb10{padding-bottom:10px;}
.pb15{padding-bottom:15px;}
.pb20{padding-bottom:20px;}
.pb30{padding-bottom:30px;}

.pr5 {padding-right:5px;}
.pr10{padding-right:10px;}
.pr15{padding-right:15px;}
.pr20{padding-right:20px;}
.pr30{padding-right:30px;}

/*  全局 文字对齐  属性   */

.ta_c{text-align: center;}
.ta_l{text-align: left;}
.ta_r{text-align: right;}

.ov_h{overflow: hidden;}
.ov_s{overflow: scroll;}
.db{display:block}
.dn {display: none;}
.di {display: inline;}
.dib{display:inline-block;-moz-inline-stack:inline-block;}

.clearb{clear: both}
.clearr{clear: right}
.clearl{clear: left;}

.prel{position: relative;}
.pabs{position: absolute;}

.rr{float:right}
.ll{float:left}

.del_float {
	clear: both;
	height: 0;
	font-size: 0;
	overflow: hidden;
}
.top_head{
	height:150px;
	text-align: center;
	 no-repeat scroll 0 0 transparent;
     margin: 0 auto -2px;
	}
a {color:#4EB71F}
a:hover {color:#4EB71F; cursor:pointer;}
a { text-decoration:none;}
	/*footer*/
#footer {
	margin-top: 10px;
}
#footer ul {
	background-repeat:repeat-x;
	padding: 10px 10px 0 10px;
}
#footer li {
    line-height: 20px;
}
	/*footer line*/
.footerline{
		background:url("../image/footer_line.gif");
	}
/*top start*/
.site_login {
	padding:8px 0px; 
	background-color:#f2f2f2;
	border-bottom:1px solid #ccc;
	}
.site_login a {color:#;}
.shell976 {width:960px; display:block; margin:0 auto;position: relative;height:16px;}
.right_nav_bar {position:absolute; top:0px; right:0;}
.orange_square {
    background-color: #f7941d;
    border-radius: 2px;
    color: #FFFFFF;
    display: inline-block;
    padding:2px 4px;
	font-size:12px;
	}
.grey_square {
    background-color: #666;
    border-radius: 2px;
    color: #FFFFFF;
    display: inline-block;
    padding:2px 4px;
	font-size:12px;
	}	
.orange_rectangle {
    background-color: #f7941d;
	border: 0 none;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    color: #FFFFFF;
    display: inline-block;
    padding:2px 2px;
	font-size:12px;
	}
.grey_rectangle  {
    background-color: #666;
	border: 0 none;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    color: #FFFFFF;
    display: inline-block;
    padding:1px 2px;
	font-size:12px;
	}	
.green_rectangle  {
    background-color: #5CB13D;
	border: 0 none;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    color: #FFFFFF;
    display: inline-block;
    padding:1px 2px;
	font-size:12px;
	}
.red_rectangle  {
    background-color: red;
	border: 0 none;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    color: #FFFFFF;
    display: inline-block;
    padding:1px 2px;
	font-size:12px;
	}
.learn_center {padding:2px 6px;background-color: red; color:#ffffff;cursor:pointer;z-index:605;}

.learn_center_popup {position:absolute;width:92px; top:20px; right:38px; background-color:#fff; border:1px solid #e3e3e3;padding:4px;z-index:100;}
.learn_center_popup li { line-height:20px; text-align:center; border-bottom:1px dotted  #e3e3e3;}
.learn_center_popup a { text-decoration:none;}
.learn_center_popup :hover {color:#4EB71F; cursor:pointer;}

/*top end*/
/*首页左右广告开始*/
.ad_left{float: left;width:90px;left: 30px;position: absolute;top: 90px;z-index: 100;}
.ad_right{float: right;width:90px;right: 30px;position: absolute;top: 90px;z-index: 100;}

.ad_left span { position:absolute; top:0; left:0; padding:2px 4px; cursor:pointer; background:#fff;}
.ad_right span { position:absolute; top:0; right:0; padding:2px 4px; cursor:pointer; background:#fff;}
/*首页左右广告结束*/
/**/
/*前台导航菜单*/
.menu {
    background: url("../image/menu.jpg") repeat-x scroll 0 0 transparent;
    font-size: 16px;
    height: 20px;
    padding: 12px 0 12px 80px;
    width: 880px;
	text-align: center;
    margin: 0px auto 0px;
}
.menu ul {
    font-size: 16px;
    line-height: 16px;
} 
.menu li {
    border-left: 1px solid #FFFFFF;
    float: left;
    padding: 0 20px;
}
.fff a:link{color: #FFFFFF;}
.fff a:visited{color: #FFFFFF;} 
.fff a:hover{color: #FFFFFF;}
.fff a:active {color: #FFFFFF;}
.menu li {
    list-style: none outside none;
}

.bottom_nav {
    height: 36px;
    width: 410px;
	text-align:center;
    margin: -7px auto 0px;
	float: right;
	z-index: 100;
}
.style_bottom_nav {
    background: none repeat scroll 0 0;
	text-align:center;
}
.menu_right_searchbox {
    background-color: #FFFFFF;
    border: 1px solid #0D9C04;
    height: 28px;
	float: left;
    margin-top: 0px;
    width: 360px;
	vertical-align: middle;
}
.menu_right_search_select {
    background-color: #ffffff;
    float: left;
    height: 28px;
    width: 62px;
}

.menu_right_search_btn {
    background-color: #FFFFFF;
    float: right;
    line-height: 22px;
}
.menu_right_search_btn input {
    border: 0 none;
    font-size: 15px;
	color: #0D9C04;
    height: 25px;
    width: 248px;
}
.menu_right_search_an {
    background: url("../image/index.gif") no-repeat scroll -103px -627px transparent;
    cursor: pointer;
    display: inline-block;
    height: 28px;
    margin-right: 2px;
    vertical-align: middle;
    width: 33px;
}
select {
    border: 1px solid #ffffff;
    color: #0D9C04;
    font-size: 18px;
    height: 28px;
    padding: 2px;
    vertical-align: middle;
}


