/* 上页下页翻页 紧凑版  start */
.pagernumber {
	margin: 0 auto;
	text-align: center;
	clear: both;
	font: 12px;
	clear: both;
	height: 20px;
	line-height: 20px;
	padding:10px 0;
}
.pagernumber a {
	color: #666;
    -moz-border-radius: 2px 2px 2px 2px;
	text-decoration: none;
    font-family: arial;
    font-size: 12px;
    height: 15px;
    line-height: 15px;
    overflow: hidden;
    padding: 2px 6px;
}

.pagernumber a:hover {
	color: #fff;
	text-decoration: none;
	background:#0D9C04;
}

.pagenum_cur{
	color:#fff!important;
	background:#0D9C04;
	}
/* 上页下页翻页 紧凑版 end */